
.register_container {
  background-color: white;
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form_header {
  text-align: center;
}

.logo {
  width: 100px;
  margin-bottom: 10px;
  align-items: center;
}

h2 {
  color: #ff8400;
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  color: #050404;
  font-size: 14px;
  align-items: center;
}

.register_form {
  display: flex;
  flex-direction: column;
}

.register_form label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.register_form input[type="file"] {
  margin-bottom: 15px;
}

.form_row {
  display: flex;
  justify-content: space-between;
}

.form_row input {
  width: 48%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register_form input[type="email"],
.register_form input[type="tel"],
.register_form input[type="text"],
.register_form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.register_form button {
  padding: 12px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.register_form button:hover {
  background-color: #555;
}

.SingUp {
  text-align: center;
  margin-top: 15px;
}

.SingUp a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.SingUp a:hover {
  text-decoration: underline;
}
